<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type='images/jpg' href="https://images.craftsnherbs.com/bee/IMG_0990.jpg">
    <link rel='stylesheet' href='https://beedevservices.github.io/beedev-css/framework/beedev.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <div class="message">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for m in messages %}
                    <h5>{{m}}</h5>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <main>
        <td><form action="/dislike/agree/" method="post">
            <input type="hidden" name="user_id" value="{{user.id}}">
            <input type="hidden" name="dislikes_id" id="{{dislikes.id}}">
            <input type="hidden" name="agreeCount" value="1">
            {% for user  in users %}
                {% if user.id == dislike.user_id %}
                <button>Agree with {{user.firstName}}</button>
                {% endif %}
            {% endfor %}
        </form></td>
        <td><form action="/dislike/disagree/" method="post">
            <input type="hidden" name="user_id" value="{{user.id}}">
            <input type="hidden" name="dislikes_id" value="{{dislikes.id}}">
            <input type="hidden" name="disagreeCount" value="1">
            {% for user  in users %}
                {% if user.id == dislike.user_id %}
                <button>Agree with {{user.firstName}}</button>
                {% endif %}
            {% endfor %}
        </form></td>
        <td><form action="/like/disagree/" method="post">
            <input type="hidden" name="user_id" value="{{user.id}}">
            <input type="hidden" name="likes_id" id="{{like.id}}">
            <input type="hidden" name="disagreeCount" value="1">
            {% for user  in users %}
                {% if user.id == like.user_id %}
                <button>Disagree with {{user.firstName}}</button>
                {% endif %}
            {% endfor %}
        </form></td>
        <td><form action="/like/agree/" method="post">
            <input type="hidden" name="user_id" value="{{user.id}}">
            <input type="hidden" name="likes_id" id="{{like.id}}">
            <input type="hidden" name="agreeCount" value="1">
            {% for user in users %}
                {% if user.id == like.user_id %}
                <button>Agree with {{user.firstName}}</button>
                {% endif %}
            {% endfor %}
        </form></td>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>